<h1>Admin</h1>
<div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      {{#link-to 'admin.visits' tagName="li"}}<a href="">Visits</a>{{/link-to}}
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-4 col-md-3">
      {{#link-to 'admin.index' tagName="li"}}<a href="">Home</a>{{/link-to}}
    </div>
  </div>
