<h1>Visits</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Name</th>
      <th>
        E-mail
      </th>
      <th>
        Visiting
      </th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |visit|}}
    <tr>
      <td>{{visit.company}}</td>
      <td>{{visit.name}}</td>
      <td>
        {{visit.email}}
      </td>
      <td>
        {{visit.who}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
