<footer class='nav navbar-inverse navbar-fixed-bottom'>
  <div class='container'>
      <ul class="footer-social list-inline">
        {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
        
      </ul>
  </div>
</footer>
